<!-- File: templates/index.html -->
<!doctype html>

<html>
    <body>
        <table>
            <tr>
                <td></td>
                {% for symbol in symbols %}
                <td style = "text-align: center;">
                    {{ symbol }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td id = "control_cell"></td>
                {% for symbol in symbols %}
                <td id = "{{ symbol }}_dom_cell" style = "vertical-align: top;">
                    <div id = "{{ symbol }}_dom_container" style="max-height: {{ dom_height }}px; max-width: {{ dom_width }}px; overflow: scroll;"></div>
                </td>
                {% endfor %}
            <tr>
        </table>
    </body>
    <script>
        const server = "{{ server }}";
    </script>
    <script src = "./dom.js"></script>
    <script src = "./index.js"></script>
</html>
