<!-- File: templates/index.html -->
<!doctype html>

<html>
    <body id = "body">
        <div id = "loading_screen">loading...<br><br></div>
        <div id = "main_screen" style = "display: none;">
            <table>
                <tr>
                    <td></td>
                    {% for symbol in friendly_symbols %}
                    <td style = "text-align: center;">
                        {{ symbol }}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td id = "control_cell" style = "vertical-align: top;">
                        <table>
                            <tr>
                                <td></td>
                                <td id = "latest_date_div"></td>
                            </tr>
                            <tr>
                                <td>
                                    <button id = "timestamp_button" style = "width: 125px;">set timestamp</button>
                                </td>
                                <td>
                                    <input type = "text" size = "25" id = "timestamp_input"></input>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button id = "speed_button" style = "width: 125px;">set speed</button>
                                </td>
                                <td>
                                    <input type = "text" size = "25" id = "speed_input"></input>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button id = "speed_1_button">1</button>
                                    <button id = "speed_10_button">10</button>
                                    <button id = "speed_25_button">25</button>
                                    <button id = "speed_50_button">50</button>
                                    <button id = "speed_100_button">100</button>
                                    <button id = "speed_250_button">250</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan = "2">
                                    <button id = "play_button" style = "width: 125px;"></button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    {% for symbol in symbols %}
                    <td id = "{{ symbol }}_dom_cell" style = "vertical-align: top;">
                        <div id = "{{ symbol }}_dom_container" style="max-height: {{ dom_height }}px; max-width: {{ dom_width }}px; overflow: scroll;"></div>
                    </td>
                    {% endfor %}
                <tr>
            </table>
        </div>
    </body>
    <script>

        const server            = "{{ server }}";
        const center_dom_key    = "{{ center_dom_key }}";
        const clear_prints_key  = "{{ clear_prints_key }}";
        const update_ms         = "{{ update_ms }}";
        const utc_offset        = "{{ utc_offset }}";

        // utility functions for reducing string allocation
        //   - for use with fillText()
        //   - increase MAX_ITOA if crashing (should be rare)

        const MAX_ITOA = 500000;

        const itoa_arr = new Array(MAX_ITOA);

        for (let i = 0; i < itoa_arr.length; i++)

            itoa_arr[i] = i.toString();


        function atoi(str, i, j) {

            let result = 0;

            for (; i < j; i++)

                result = result * 10 + (str.charAt(i).charCodeAt(0) - 48);

            return result;

        }

    </script>
    <script src = "./trade_manager.js"></script>
    <script src = "./dom.js"></script>
    <script src = "./dom_manager.js"></script>
    <script src = "./parser.js"></script>
    <script src = "./index.js"></script>
</html>
